In [1]:
# 131 for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
# 132 for문의 실행결과를 예측하라.
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [3]:
# 133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [4]:
# 134 for문을 풀어서 동일한 동작을하는 코드를 작성하라.
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [5]:
# 135 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [6]:
# 136 다음 코드를 for문으로 작성하라.
for 변수 in ['10','20','30']:
    print(변수)

10
20
30

In [7]:
# 137 다음 코드를 for문으로 작성하라.
num = [10,20,30]
for i in num:
    print(i)

10
20
30

In [8]:
# 138 다음 코드를 for문으로 작성하라.

num = [10,20,30]

for i in num:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [9]:
# 139 다음 코드를 for문으로 작성하라.

num = [10,20,30]

print("++++")
for i in num:
    print(i)

++++
10
20
30

In [10]:
# 140 다음 코드를 for문으로 작성하라.
for dot in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------

141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.
> 리스트 = [100, 200, 300]   
110   
210   
310

In [11]:
리스트 = [100, 200, 300]

for i in 리스트:
    print(i+10)

110
210
310

142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

> 리스트 = ["김밥", "라면", "튀김"]   
오늘의 메뉴: 김밥   
오늘의 메뉴: 라면   
오늘의 메뉴: 튀김

In [12]:
리스트 = ["김밥", "라면", "튀김"]
for menu in 리스트:
    print("오늘의 메뉴:", menu)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

143 리스트에 주식 종목이름이 저장돼 있다.

> 리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

저장된 문자열의 길이를 다음과 같이 출력하라.

> 6   
> 4   
> 4

In [13]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for stock in 리스트:
    print(len(stock))

6
4
4

144 리스트에는 동물이름이 문자열로 저장돼 있다.

> 리스트 = ['dog', 'cat', 'parrot']

동물 이름과 글자수를 다음과 같이 출력하라.

> dog 3   
> cat 3   
> parrot 6

In [14]:
리스트 = ['dog', 'cat', 'parrot']
for ani in 리스트:
    print(ani, len(ani))

dog 3
cat 3
parrot 6

145 리스트에 동물 이름 저장돼 있다.

> 리스트 = ['dog', 'cat', 'parrot']

for문을 사용해서 동물 이름의 첫 글자만 출력하라.

> d   
> c   
> p

In [15]:
리스트 = ['dog', 'cat', 'parrot']
for ani in 리스트:
    print(ani[0])

d
c
p

146 리스트에는 세 개의 숫자가 바인딩돼 있다.

> 리스트 = [1, 2, 3]

for문을 사용해서 다음과 같이 출력하라.

> 3 x 1   
> 3 x 2   
> 3 x 3

In [16]:
리스트 = [1, 2, 3]
for mul in 리스트:
    print('3 *', mul)

3 * 1
3 * 2
3 * 3

147 리스트에는 세 개의 숫자가 바인딩돼 있다.

> 리스트 = [1, 2, 3]

for문을 사용해서 다음과 같이 출력하라.

> 3 x 1 = 3   
> 3 x 2 = 6   
> 3 x 3 = 9

In [17]:
리스트 = [1, 2, 3]
for mul in 리스트:
    print('3 *', mul, '=', 3*mul)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [18]:
# 모범답안
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

148 리스트에는 네 개의 문자열이 바인딩돼 있다.

> 리스트 = ["가", "나", "다", "라"]

for문을 사용해서 다음과 같이 출력하라.

> 나   
> 다   
> 라

In [19]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

149 리스트에는 네 개의 문자열이 바인딩돼 있다.

> 리스트 = ["가", "나", "다", "라"]

for문을 사용해서 다음과 같이 출력하라.

> 가   
> 다

In [20]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)
# 리스트 슬라이싱에서 [시작:끝:증감폭] 세번째 값은 값을 가져오는 단위를 의미했습니다.

가
다

150 리스트에는 네 개의 문자열이 바인딩돼 있다.

> 리스트 = ["가", "나", "다", "라"]

for문을 사용해서 다음과 같이 출력하라.

> 라   
> 다   
> 나   
> 가

In [21]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

151 리스트에는 네 개의 정수가 저장돼 있다.

> 리스트 = [3, -20, -3, 44]

for문을 사용해서 리스트의 음수를 출력하라.

> -20   
> -3

In [22]:
리스트 = [3, -20, -3, 44]
for i in 리스트[1:3:]:
    print(i)

-20
-3

In [23]:
# 모범답안
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

152 for문을 사용해서 3의 배수만을 출력하라.

> 리스트 = [3, 100, 23, 44]   
> 3

In [24]:
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3 == 0:
        print(i)

3

153 리스트에서 20 보다 작은 3의 배수를 출력하라

> 리스트 = [13, 21, 12, 14, 30, 18]

> 12   
> 18

In [25]:
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i < 20 and i%3==0:
        print(i)

12
18

154 리스트에서 세 글자 이상의 문자를 화면에 출력하라

> 리스트 = ["I", "study", "python", "language", "!"]

> study
> python
> language

In [26]:
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

155 리스트에서 대문자만 화면에 출력하라.

> 리스트 = ["A", "b", "c", "D"]

> A   
> D

(참고) isupper() 메서드는 대문자 여부를 판별합니다.

> 변수 = "A"    
> 변수.isupper()    
> True    

> 변수 = "a"    
> 변수.isupper()    
> False

In [27]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper():
        print(i)

A
D

156 리스트에서 소문자만 화면에 출력하라.

> 리스트 = ["A", "b", "c", "D"]   
> b   
> c

In [28]:
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

157 이름의 첫 글자를 대문자로 변경해서 출력하라.

> 리스트 = ['dog', 'cat', 'parrot']   
> Dog   
> Cat   
> Parrot   

(참고) upper() 메서드는 문자열을 대문자로 변경합니다.

> 변수 = "a"   
> a.upper()   
> A   

> 변수 = "abc"   
> 변수.upper()   
> ABC

In [29]:
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

158 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

> 리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

> hello   
> ex01   
> intro

In [30]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [31]:
# 모범답안
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

159 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

> 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

> intra.h   
> define.h

In [32]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    split = i.split(".")
    if split[1] == 'h':
        print(i)

intra.h
define.h

160 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

> 리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

> intra.h   
> intra.c   
> define.h

In [33]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    split = i.split(".")
    if (split[1] == 'h') | (split[1] == 'c'):
        print(i)

intra.h
intra.c
define.h

161 for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [34]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

162 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.   

참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

> print(list(range(0, 10, 2)))   
[0, 2, 4, 6, 8]

In [35]:
for i in range(2002,2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [36]:
# 163 1부터 30까지의 숫자 중 3의 배수를 출력하라.
for i in range(1,31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [37]:
# 모범답안
for num in range(3, 31, 3):
    print (num)

3
6
9
12
15
18
21
24
27
30

In [38]:
# 164 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(99,0,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [39]:
# 모범답안
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

165 for문을 사용해서 아래와 같이 출력하라.
> 0.0   
0.1         
0.2   
0.3   
0.4   
0.5   
...   
0.9

In [40]:
for num in range(10) :
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

166 구구단 3단을 출력하라.

> 3x1 = 3   
3x2 = 6      
3x3 = 9   
3x4 = 12   
3x5 = 15   
3x6 = 18   
3x7 = 21   
3x8 = 24   
3x9 = 27

In [41]:
for i in range(1,10):
    print('3x{} = {}'.format(i, i*3))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

167 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

> 3x1 = 3   
3x3 = 9   
3x5 = 15   
3x7 = 21   
3x9 = 27

In [42]:
for i in range(1,10,2):
    print('3x{} = {}'.format(i, i*3))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

168 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

> 합 : 55

In [43]:
plus = 0
for i in range(1,11):
    plus+=i
print("합:",plus)

합: 55

169 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

> 합: 25

In [44]:
plus = 0
for i in range(1,11,2):
    plus+=i
print("합:",plus)

합: 25

170 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [45]:
mul = 1
for i in range(1,11):
    mul*=i
print("곱:", mul)

곱: 3628800